.profile{
	margin-left: 16.66667%;
}

.profile-image{
    margin: auto;
}

.profile-image-img{
    min-width:128px;
	min-height:128px;
	max-width:128px;
	max-height:128px;
}



.profile-form-content input[type="file"]{
    width: 175px;
}

.profile-form-content-text input{
    width: 100%;
}