{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ultra Social App</title>
	<link rel="stylesheet" href="{% static 'css/bulma/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/slide_show.css' %}">
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-6.4.0-web/css/all.min.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
	<div class="main">
		<!-- Begin: Sidebar -->
		<div class="side-navbar column is-2">
			<div class="side-navbar-heading has-text-centered">
				<a href="{% url 'index' %}" class="side-navbar-heading__logo">
					<img src="{% static 'img/Ultra_logo.svg' %}" alt="">
					<p class="title is-2">Ultramarines</p>
				</a>
			</div>
			<ul class="side-navbar-list">
				<li class="side-navbar-item">
					<a href="{% url 'index' %}" class="side-navbar-item__link"><i class="side-navbar-icon fa-solid fa-house"></i>Home</a>
				</li>
				<li class="side-navbar-item">
					<a href="{% url 'explore' %}" class="side-navbar-item__link"><i class="side-navbar-icon fa-solid fa-compass"></i></i>Explore</a>
				</li>
				<li class="side-navbar-item">
					<a href="{% url 'show-notifications' %}" class="side-navbar-item__link">
						<i class="side-navbar-icon fa-solid fa-bell"></i>Notifications
						{% if count_notifications %}
						<span class="mt-2 badge">{{ count_notifications }}</span>
						{% endif %}
					</a>
				</li>
				<li class="side-navbar-item">
					<a href="{% url 'inbox' %}" class="side-navbar-item__link">
						<i class="side-navbar-icon fa-solid fa-inbox"></i>Messages
						{% if directs_count %}
						<span class="mt-2 badge">{{ directs_count }}</span>
						{% endif %}
					</a>
				</li>
				<li class="side-navbar-item">
					<a href="{% url 'profile' request.user %}" class="side-navbar-item__link"><i class="side-navbar-icon fa-solid fa-user"></i>Profile</a>
				</li>
				<li class="side-navbar-item">
					<a href="{% url 'newpost' %}" class="side-navbar-item__link"><i class="side-navbar-icon fa-solid fa-square-plus"></i>Create</a>
				</li>
			</ul>
			<div class="side-navbar-setting">
				<button class="side-navbar-setting__button js-side-navbar-setting__button">
					<i class="side-navbar-icon fa-solid fa-bars"></i>
					More
				</button>
				<ul class="side-navbar-setting-list">
					<li class="side-navbar-setting-item">
						<a href="{% url 'change_password' %}" class="side-navbar-setting-item__link">Change password</a>
					</li>
					<li class="side-navbar-setting-item">
						<a href="{% url 'about' %}" class="side-navbar-setting-item__link">About</a>
					</li>
					<li class="side-navbar-setting-item">
						<a href="{% url 'contact' %}" class="side-navbar-setting-item__link">Report an issue</a>
					</li>
					<hr class="side-navbar-setting-item--separator">
					<li class="side-navbar-setting-item">
						<a href="{% url 'logout' %}" class="side-navbar-setting-item__link has-text-weight-bold">Log out</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- End: Sidebar -->

		{% block banner %}
		{% endblock %}

		<!-- Begin: Content -->
		{% block content %}
		{% endblock %}

		{% block pagination %}
        {% endblock %}
		<!-- End: Content -->
	</div>
</body>
	<script src="{% static 'js/main.js' %}"></script>
</html>