{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/changepassword.css' %}">
<section class="login section">
	<div class="container">
		<div class="columns is-mobile is-centered has-text-centered">
			<div class="column is-two-fifths">
				<div class="card">
					<div class="card-content login-content">
						<form method="post" action="" role="form"> {% csrf_token %}
							{{ form.id }}
							<h3 class="title is-size-1">Change password</h3>
							<hr>
							<div class="field">
								<p class="login-content-input control">
									<label class="label has-text-info is-pulled-left is-size-3">Old password</label>
									{{ form.old_password }}
								</p>
							</div>
							<div class="field">
								<p class="login-content-input control">
									<label class="label has-text-info is-pulled-left is-size-3">New password</label>
									{{ form.new_password }}
								</p>
							</div>
							<div class="field">
								<p class="login-content-input control">
									<label class="label has-text-info is-pulled-left is-size-3">Re-type password</label>
									{{ form.confirm_password }}
								</p>
							</div>
							<div class="row">
								<div class="col s12">
									<span style="color: red; font-weight: bold;" class="is-size-4">{{ form.errors }}</span>
								</div>
							</div>
							<div class="field">
								<p class="control">
									<button type="submit" name="action" class="button is-info is-medium is-primary is-fullwidth mt-5 is-large">
										Change Password
									</button>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}