{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/changepassword.css' %}">
<section class="login section">
	<div class="container">
		<div class="columns is-mobile is-centered has-text-centered">
			<div class="column is-two-fifths">
				<div class="card">	
					<div class="title is-1 login-content notification is-primary is-light">
						<i class="fa-solid fa-circle-check mr-5"></i><strong>Password changed successfully!</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

