{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ultra Social App</title>
	<link rel="stylesheet" href="{% static 'css/bulma/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-6.4.0-web/css/all.min.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
	<section class="login section">
		<div class="container">
			<div class="columns is-mobile is-centered has-text-centered">
				<div class="column is-two-fifths">
					<div class="card">
						<div class="card-content">
							<form class="login-content" method="post" action="" role="form"> {% csrf_token %}
								<h3 class="title is-size-1">Login</h3>
								<hr>
								<div class="field">
									<p class="login-content-input control">
										<label class="label is-large has-text-info is-pulled-left">Username</label>
										{{ form.username }}
									</p>
								</div>
								<div class="field">
									<p class="login-content-input control">
										<label class="label is-large has-text-info is-pulled-left">Password</label>
										{{ form.password }}
									</p>
								</div>
								<label class="checkbox is-pulled-right mb-3">
									<input type="checkbox" onclick="showPassword()">
									Show password
								</label>
								{% if form.errors %}
								<div class="row mt-6">
									<div class="col s12">
										<span class="is-size-5 " style="color: red; font-weight: bold;">Your username or password did not match.</span>
									</div>
								</div>
								{% endif %}
								<div class="field">
									<p class="control">
										<button type="submit" value="login" class="login-btn button is-info is-medium is-primary is-fullwidth mt-5">
											Login
										</button>
									</p>
								</div>
								<input type="hidden" name="next" value="{{next}} ">
								<span class="login-content-link is-size-5">
									Don't have an account?
									<a href="{% url 'signup' %}">Create an account</a>
								</span>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<script src="{% static 'js/login_showpassword.js' %}"></script>
</html>