{% extends 'base.html' %}
{% load static %}
{% block banner %}	
<!-- Begin: Hero -->
<link rel="stylesheet" href="{% static 'css/tag.css' %}">
<section class="my-hero hero is-primary">
	<div class="my-hero-body hero-body">
		<p class="title">
			#{{ tag.title }}
		</p>
	</div>
</section>
<!-- End: Hero -->
{% endblock %}
{% block content %}
<!-- Begin: Post -->
<section class="tags post section">
	<div class="container">
		<div class="columns is-mobile is-multiline is-centered">
			{% for post in posts %}
			<div class="column is-one-quarter">
				<div class="box">
					{% if post.content.first.file.name|slice:"-3:" == 'jpg' or post.content.first.file.name|slice:"-3:" == 'png' %}
					<figure class="image is-1by1">
						<a href="{{ post.get_absolute_url }}">
							<img src="{{ post.content.first.file.url }}" alt="Placeholder image">
						</a>
					</figure>
					{% else %}
					<a href="{{ post.get_absolute_url }}">
						<video class="is-clickable" controls="controls" preload="metadata">
							<source src="{{ post.content.first.file.url }}#t=0.5" type="video/mp4">
						</video>
					</a>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End: Post -->
{% endblock %}



